
.body-class {
    background-color: rgb(40, 215, 194);
  }
.header-class{
    background-color: rgb(77, 77, 255); 
    color:white;
}
.nav-class{
    background-color: aqua; 
    font-weight: bold;
}
.title-class {color:lightblue}
.text-class {color:rgb(77, 77, 255)}
.image-class{
    border: 15px violet;
    border-radius: 10px;
}
.form-class {color:teal}
.footer-class {color:blueviolet}