
.body-class {color:rgb(0, 255, 191)}
.header-class{
    background-color: rgb(77, 77, 255); 
    color:white;
}
.nav-class{
    background-color: aqua; 
    font-weight: bold;
}
.title-class {color:lightblue}
.text-class {color:rgb(77, 77, 255)}
.image-class{
    border: 5px solid violet;
    border-radius: 10px;
}
.form-class {color:teal}
.footer-class {color:blueviolet}